<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/about.css">
  <title>Document</title>
</head>
<body>

  <h1>Wow you must love lithardz too!</h1>

  <p>So basically lithardz are a very majestic creature. They have made a huge impact on my life for many years now. I found my first lithard when
    I was just a little boy and we immediately became best friends. Since then all of my best friends have been lithardz. I have dedicated my life to 
    learning the ways of the lithard such as standing still for long periods of time in the sun, actually at this point I am basically cold blooded and 
    my mom needs to wake me up in the morning with a heat lamp or hair dryer. I have not really grown a taste for bugs yet but it's just a matter of time.
    Anyway, thanks for visiting my page, if you made it this far I have something very special for you on the photo gallery page. it is a collection of my favorite 
    lithardz that I have acquired over the years. Please click on the link below to have your mind blown. </p>

    <button class="c-smileyButton">
        <div class="c-smileyButton__hoverListener"></div>
        <div class="c-smileyButton__hoverListener"></div>
        <span class="c-smileyButton__face"></span>
      
        <a href="/lithards">Lithard Video/Gallery</a>
      </button>
  
</body>
</html>