<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/home.css">
  <title>Lithardz</title>
</head>
<body>

<h1>Welcome to the Lizard appreciation website</h1>

<h2>Lithardz are beautiful creatures and here is a list why</h2>

<ul>
  <li>Lithardz come in different colors</li>
  <li>Lithardz are very quiet</li>
  <li>Lithardz dont take up a lot of space</li>
  <li>Lithardz are inexpensve to maintain</li>
  <li>Lithard love is beautiful</li>
  <li>AND MUCH MORE.....</li>
</ul>


<p>please click on the following link to learn a little more about me and why I love lithardz</p>
<button class="c-smileyButton">
    
    <div class="c-smileyButton__hoverListener"></div>
    <div class="c-smileyButton__hoverListener"></div>
    <span class="c-smileyButton__face"></span>
    <a href="/about">About Lithardz</a>
  </button>




  
</body>
</html>